{
	order coraza_waf first
	order rate_limit before respond

	# global logger that logs error level and above (for WAF)
	log {
		format json
		level ERROR
		output file /var/log/caddy/error.json {
			roll_size 1gb
			roll_keep 20
			roll_keep_for 720h
		}
	}
}

akewak.biru.etco.cloud {
	tls ./akewak.biru.etco.cloud/cert1.pem ./akewak.biru.etco.cloud/privkey1.pem

	log {
		format json
		output file /var/log/caddy/access.json {
			roll_size 1gb
			roll_keep 20
			roll_keep_for 720h
		}
	}

	coraza_waf {
		load_owasp_crs
		directives `
		Include @crs-setup.conf.example
		Include @owasp_crs/*.conf
		SecRuleEngine On
		`
	}

	redir / /blog
	@whitelist {
		path /
		path /contact
		path /resume
		path /blog
		path /articleEditor
		path /create
		path /oauth2/callback
		path /static/*
		path /blog/*
	}

	handle @whitelist {
		rate_limit {
			zone static {
				key static
				events 100
				window 1m
			}

			zone dynamic {
				key {remote_host}
				events 10
				window 5s
			}
			log_key
		}
		reverse_proxy {$UPSTREAMS}
	}

	handle {
		respond "Not found" 404
	}
}
