<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./static/blog.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<title>Resume</title>
    <style>
		.progress {
			border-radius: 2px;
		}

		nav {
			font-family: 'roboto';
		}

		.theme-progress-bar-dark {
			background-color: #434E5E;
		}

		.resume-progress {
			height: 0.6rem;
		}

		a#mail {
			color:rgba(255, 255, 255, 0.9);
			text-decoration: underline;
		}

		a:hover#mail {
			color:rgba(255, 255, 255, 0.5);
			text-decoration: underline;
		}
	</style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container">
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Resume</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/blog">Blog</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#contact">Contact</a>
			  </li>

			</ul>
		  </div>
		</div>
	  </nav>
	  <hr style="margin-top: 0; margin-bottom: 0; color: rgba(0, 0, 0, 0.3);">

	  <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
				    <img class="mr-8 img-fluid picture mx-auto" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Akewak Biru</h1>
						    <div class="title mb-3">Security and Software Engineer</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="mailto:akawaq1234@gmail.com"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>akawaq1234@gmail.com</a></li>
							    <li><a><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+971567827548</a></li>
						    </ul>
					    </div>
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
				                <li class="mb-3"><a href="https://www.linkedin.com/in/akewak-biru-90208b19b"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin fa-fw"></i></span>Linkedin</a></li>
				                <li class="mb-3"><a href="https://github.com/AkewakBiru"><span class="fa-container text-center mr-2"><i class="fab fa-github fa-fw"></i></span>Github</a></li>
				                <li class="mb-3"><a href="https://gitlab.com/a1252/"><span class="fa-container text-center mr-2"><i class="fab fa-gitlab fa-fw"></i></span>Gitlab</a></li>
				                <!-- <li><a href="https://akewak.biru.etco.cloud/blog"><span class="fa-container text-center mr-2"><i class="fab fa-blog"></i></span>Blog</a></li> -->
						    </ul>
					    </div>
				    </div>
			    </div>
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Summary</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">A highly motivated and results-driven security and software engineer with proficiency in fields such as networking, secure software development and testing and possesses excellent analytical, problem-solving, and interpersonal skills.</p>
				    </div>
			    </section>
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5"> 
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Software Engineer, Intern</h3>
										        <div class="resume-company-name ml-auto">
													Callsign Technologies - Abu Dhabi, United Arab Emirates</div>
										    </div>
										    <div class="resume-position-time">08/2023 - 12/2023</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <ul>
											    <li>Developed and Implemented a TCP Packet Capturing tool as a containerized application using Spring Boot, Java, and persisted the result using an In-memory Redis database for quick retrieval and deep packet inspection
											    <li>Designed and presented a system to implement network traffic analysis in callsign's AWS VPC and introduced key solutions to issues that were blockers to the implementation of the system</li>												</li>
											    <li>Provided valuable insights to aid in bettering the security induction process for new employees and the annual security training provided, in terms or new content to be added, and enhancement of already existing content.</li>											</li>
											 </ul>
										</div>
								    </article>
								    
								    <article class="resume-timeline-item position-relative pb-5">
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Web Content Editor</h3>
										        <div class="resume-company-name ml-auto">Zayed University - Abu Dhabi, United Arab Emirates</div>
										    </div>
										    <div class="resume-position-time">06/2023 - 12/2023</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										     <ul>
											    <li>Created profile for new Professors and updated the profile of current Professors of Zayed University</li>
											    <li>Removed broken links from the website</li>
											    <li>Added Potential graduate students in to the university's system</li>
											 </ul>
									    </div>
								    </article>
							    </div>
						    </div>
					    </section>

						<section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5"> 
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">BSc. in IT, Security and Network Technologies</h3>
										        <div class="resume-company-name ml-auto">
													Zayed University - Abu Dhabi, United Arab Emirates</div>
										    </div>
										    <div class="resume-position-time">01/2020 - 12/2023</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <p>Completed notable projects in key courses including:</p>
										    <ul>
											    <li>Created a cyber security hygiene tracker application as a senior project.</li>
											    <li>Performed a basic forensic acquisition of 3 different Mobile Operating Systems.</li>
											    <li>Conducted an in-depth analysis of Security and Protection measures in Linux and Windows Operating Systems.</li>
												<li>Implemented a demo site-to-site VPN using TLSv1.3 in Python.</li>	
											 </ul>
										</div>
								    </article>
							    </div>
						    </div>
					    </section>

						<section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Projects</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
									<article class="resume-timeline-item position-relative pb-5"> 
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">AES Encryption Demo</h3>
										        <div class="resume-company-name ml-auto">
													Abu Dhabi, United Arab Emirates</div>
										    </div>
										    <div class="resume-position-time">02/2024 - 03/2024</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <ul>
											    <li>Recreated the AES-128 encryption algorithm with different modes of operation including ECB, CBC, and CTR in Golang.</li>
											 </ul>
										</div>
								    </article>

								    <article class="resume-timeline-item position-relative pb-5"> 
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Cybersmart Mobile Application</h3>
										        <div class="resume-company-name ml-auto">
													Zayed University - Abu Dhabi, United Arab Emirates</div>
										    </div>
										    <div class="resume-position-time">08/2023 - 11/2023</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <ul>
											    <li>Developed a cybersecurity hygiene tracker application with the goal of helping users track their digital footprint by suggesting cybersecurity best-practices.</li>
											    <li>Implemented the back-end services using Spring Boot, a Java-based framework, to handle business logic, API endpoint creation and security, database interactions, and server-side operations efficiently.</li>
											 </ul>
										</div>
								    </article>

									<article class="resume-timeline-item position-relative pb-5"> 
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">IRC Server</h3>
										        <div class="resume-company-name ml-auto">
													Abu Dhabi, United Arab Emirates</div>
										    </div>
										    <div class="resume-position-time">08/2023 - 10/2023</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <ul>
											    <li>Designed and developed an IRC (Internet Relay Chat) server using C++, demonstrating strong proficiency in low-level programming and network protocols.</li>
											 </ul>
										</div>
								    </article>
							    </div>
						    </div>
					    </section>
				    </div>


				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <ul class="list-unstyled mb-4">
								        <li class="mb-2">
								            <div class="resume-skill-name">Programming expertise in C, C++, Java, Golang, Python, and Bash</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

										<li class="mb-2">
								            <div class="resume-skill-name">Containerization technologies (Docker, Kubernetes)</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

										<li class="mb-2">
								            <div class="resume-skill-name">Observability tools (Opentelemetry)</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Git version control platforms</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Vulnerability Assessment</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 73%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Strong Linux Knowledge</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 77%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        
								        <li class="mb-2">
								            <div class="resume-skill-name">Cloud Security Expertise</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Security Protocols</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Web Application Pentesting (OWASP top 10)</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 66%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div>
						    </div>
					    </section>

					    <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Certifications</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Google Cloud Certified Professional Cloud Security Engineer</div>
								    </li>
								    <li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">CCNA: Switching, Routing and Wireless Essentials</div>
								    </li>
									<li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Functional Programming in Java</div>
								    </li>
							    </ul>
						    </div>
					    </section>

						<section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Achievements</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Graduated with a 3.85 CGPA from Zayed University</div>
								    </li>
								    <li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">1st place in a cyber-security hackathon.</div>
										<div class="resume-award-desc"><a href="https://emiratitimes.com/42-abu-dhabi-beacon-red-host-2nd-hackathon-on-cybersecurity/">News link</a></div>
								    </li>
							    </ul>
						    </div>
					    </section>

					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Languages</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Amharic</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(С1)</small></li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Hobbies</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
									<li class="mb-1">Programming</li>
								    <li class="mb-1">Running</li>
								    <li class="mb-1">Cooking</li>
								    <li class="mb-1">Practicing the Guitar</li>
							    </ul>
						    </div>
					    </section>
					    
				    </div>
			    </div>
		    </div>
		    
	    </div>
    </article>

	<footer class="page-footer bg-dark" id="contact">
        <div class="container text-center text-md-left mt-5 text-light">
            <div class="row">
                <div class="col-md-4 mx-auto mb-3 mt-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style='width: 83px; height: 2px'>
					<p>Email me @ <a id="mail" href="mailto:akawaq1234@gmail.com?subject=Inquiry&body=Hello,%0D%0A%0D%0AI would like to ask about...">akawaq1234@gmail.com</a>.</p>
                </div>
            </div>
        </div>

		<hr class="mb-4 mt-0 d-inline-block mx-auto" style='width: 100%; height: 4px'>
        <div class="footer-copyright text-center py-3 text-light">
            <p>Copyright &copy; AkewakBiru, United Arab Emirates. All rights reserved</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>